@media (max-width: 991.98px) {
    .ftco-navbar-light.scrolled {
        background: #fff !important;
    }
    .ftco-navbar-light {
        background: #fff !important;
    }

    .ftco-navbar-light .navbar-brand span {
        color: #000 !important;
    }

    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
        color: #000 !important;
    }

    .ftco-navbar-light .navbar-toggler {
        color: rgba(0, 0, 0, 0.5) !important;
        border-color: rgba(0, 0, 0, 0.1) !important;
    }

    .ftco-navbar-light .navbar-toggler span {
        color: #000 !important;
    }
}
